html,body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}
 .carousel-item > img {
    height: 600px;
    
}
.navbar{
    height: 100px;
    background-image: linear-gradient(#007fc2,#0070ac);
    display:flex;
    padding:0; 
}

.logo{
    height:100%;
}
.logo > img {
    height:100px;
}
.nav-content:hover{
    background-color:#0070ac;
}
.nav-content >a{
    color:white;
    font-family:cover ;
    font-size:large;
}

.nav-content{
    display:flex;
    width:100px;
    height:100%;
    justify-content: center;
    align-items: center;
}
 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:white;
}

.info-started{
    text-align:center;
    margin-top: 50px;
    background-image: linear-gradient(white,#ECF0F5);

}

.info-started >h3{
    color:#79b04a;
    font-size: 1.313rem;
    margin: 10px;

}

.info-started >h1{
    color:#002e49;
    font-size: 2.313rem;
    line-height: 2.313rem;

}
.list-item{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    
   
}

 .list-item svg{
    height: 80px;
    width: 80px;
    
 }
 .list-item >div{
     width:250px;
     margin-top:50px
 }
 svg:first-child{
     fill: #ccc;
 }
 
svg:first-child:hover{
     fill:#ff5533;
 }

.Get-started{
    width: 100%;
    height:1000px;
    background: black;
    overflow: hidden;
    text-align: center;
    position: relative;
} 

.Get-started >img{
    height:100%;
    width:100%;
    opacity: 0.2;

}
.Get-started> h3{
    color:#00AA98;
    font-size:x-large;
    position:absolute; 
    left:45%;
    top:50px;
}

.Get-started > h1{
    position:absolute;
    top:150px;
    left:25%;
    color:white;
    font-family: cursive;
    font-size:xx-large;
}

.display-options {
    height: auto;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    position:absolute;
    top:300px;
    margin:0px;
    padding: 0px;
    justify-content: center;
}

.find{
    background-color: white;
    height:400px;
    width:400px;
    margin:20px;
    border-radius: 20px;
    opacity: 0.5;


}

.volunteer  > h1 ,.opportunities > h1{
    color:#002F49;
    font-weight: bold;
}
.volunteer >h3 ,.opportunities > h3{
    font-size: medium;
    font-weight: bold;
}
.volunteer > img, .opportunities > img{
    margin-top:60px;
}

.about-us{
    height:800px;
    border:1px solid black;
}

